@model Sheffield_International_by_Manuja.Models.Grade

@{
    ViewData["Title"] = "DeleteGrade";
}

<h1>DeleteGrade</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubjectId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubjectId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grad)
        </dd>
    </dl>
    
    <form asp-action="DeleteGrade">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
